
body 
{
  background: #ff6f00; 
}

.Hero {
  min-height: 100%;
  text-align: center;
  background : #ff6f00; 
   margin-top: 10%; 
  overflow: auto;
  
}

.Buildings {
  width:50%; 
  visibility: hidden;
  overflow: hidden;
}
